<div class="modal-content">
  <div class="modal-header">
    <h1 class="l-title-header container-default w-100">Família</h1>
    <p class="l-title container-default w-100">Adicione uma família</p>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-10">
        <form>
          <fieldset class="form-group">
            <input class="form-control theme" [ngClass]="{'is-invalid': isInvalid === true}"
              name="familyName"
              id="name"
              [(ngModel)]="family.name"
              type="text"
              placeholder="Nome Família" />
              <div *ngIf="isInvalid" class="invalid-feedback">
                Preencha o nome da família
              </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="onClose()" type="button" class="btn btn-tertiary float-left">Cancelar</button>
    <button *ngIf="isLoader" type="button" class="btn btn-primary">
      <div  class="spinner-border text-light" role="status"></div>
    </button>
    <button *ngIf="!isLoader" (click)="submitForm()" type="button" class="btn btn-primary">
      <span >Adicionar</span>
    </button>
  </div>
</div>
