<div class="l-components">
  <p class="l-title">Lista de Famílias Cadastradas</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="l-title-medium">Família Silva</h2>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Membros: <strong>03</strong></p>
        </div>
        <div class="col-sm-3 text-center">
          <button type="button" class="btn btn-secondary l-btn-list">Lista de Membros</button>
        </div>
        <a class="col-sm-1 text-center">
          +
        </a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="l-title-medium">Família Silva</h2>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Membros: <strong>03</strong></p>
        </div>
        <div class="col-sm-3 text-center">
          <button type="button" class="btn btn-secondary l-btn-list">Lista de Membros</button>
        </div>
        <a class="col-sm-1 text-center">
          +
        </a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="l-title-medium">Família Silva</h2>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Membros: <strong>03</strong></p>
        </div>
        <div class="col-sm-3 text-center">
          <button type="button" class="btn btn-secondary l-btn-list">Lista de Membros</button>
        </div>
        <a class="col-sm-1 text-center">
          +
        </a>
      </div>
    </li>
  </ul>
</div>
