<div class="container">
  <div class="row">
    <div class="col-sm-3 p-0">
      <div class="l-main">
        <div class="l-nav">
          <div class="l-nav-logo">
            <img class="l-img-logo" src="assets/img/png/logo.png" alt="matarazzo">
          </div>
          <div class="l-nav-item l-title">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Famílias</a>
              <!-- <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a> -->
            </div>
          </div>
          <div class="l-nav-item-config">
            <div class="l-login">
              <div class="l-title login">Luiz matarazzo</div>
              <a class="l-btn-logout">Log Out</a>
            </div>
            <div class="l-login">
              <a class="l-title l-btn-config">Configuracões</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 p-0">
      <div class="l-main">
        <div class="l-content">
          <div class="l-header">
            <h1 class="l-title-header">Famílias</h1>
            <div class="l-add">
              <button type="button" class="btn btn-primary">+ Adicionar Família</button>
            </div>
            <div class="l-search">
              <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <input type="password" class="form-control" id="inputPassword2" placeholder="Buscar">
                </div>
              </form>
            </div>
          </div>
          <div class="l-components">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-5">
                    <h2 class="l-title-medium">Família Silva</h2>
                  </div>
                  <div class="col-sm-3">
                    <p class="l-title-small">Membros: <strong>03</strong></p>
                  </div>
                  <div class="col-sm-3">
                    <button type="button" class="btn btn-secondary l-btn-list">Lista de Membros</button>
                  </div>
                  <div class="col-sm-1">
                    "assets": [ "src/assets/svg/*" ]
                  </div>
                </div>
              </li>
              <li class="list-group-item">Família Silva</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>