<div class="l-login-container-header">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img class="l-img-logo" src="assets/img/png/logo.png" alt="matarazzo">
    </div>
    </div>
</div>
<div class="l-login-container-info">
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="form-group">
          <label for="E-mail">E-mail</label>
          <input type="email" class="form-control theme" id="email">
        </div>
        <div class="form-group theme">
          <label for="Senha">Senha</label>
          <input type="password" class="form-control theme" id="senha">
        </div>
        <!-- <div class="l-password-lost">
          <a>Esqueci a senha</a>
        </div> -->
        
        <!-- <div class="l-register">
          <a routerLink="/register">Já é cadastrado? <strong>Crie sua conta</strong></a>
        </div> -->
      </form>
    </div>
    <div class="col-sm-12 text-center">
      <a 
        type="submit" 
        class="btn btn-primary"
        (click)="logToApp()">
        Login
      </a>
    </div>
  </div>
</div>
