<div class="l-header info">
  <div class="row">
    <div class="offset-sm-2 col-sm-10 offset-lg-1 col-lg-6 offset-xl-2 col-xl-6">
      <div class="l-search">
        <form class="form-inline">
          <div class="form-group mb-2">
            <input type="password" class="form-control" id="search-list" placeholder="Buscar">
          </div>
          <a class="l-btn-search"><svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/search.svg"></svg-icon></a>
        </form>
      </div>
    </div>
    <div class="offset-sm-5 col-sm-7 offset-lg-0 col-lg-5 col-xl-4">
      <div class="l-add">
        <a class="btn btn-primary" data-toggle="modal" data-target="#modalMember">
          <div class="l-btn-icon">
            <svg-icon class="l-svg-small l-svg-color-white" src="assets/img/svg/plus.svg"></svg-icon>
          </div>
          <div class="l-btn-text">
            Adicionar Membro
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<app-modal-add-family-member></app-modal-add-family-member>

<div class="l-components">
  <p class="l-title">Lista de Membros Cadastradas</p>
  <ul class="list-group list-group-flush l-list-content">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="l-title-medium">Família Silva</h2>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Sexo: <strong>Masculino</strong></p>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Requerente: <strong>Sim</strong></p>
        </div>
        <a class="col-sm-1 text-center">
          <svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/pencil.svg"></svg-icon>
        </a>
        <a class="col-sm-1 text-center">
          <svg-icon class="l-svg-default l-svg-color-cancel" src="assets/img/svg/cancel.svg"></svg-icon>
        </a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="l-title-medium">Família Silva</h2>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Sexo: <strong>Masculino</strong></p>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Requerente: <strong>Sim</strong></p>
        </div>
        <a class="col-sm-1 text-center">
          <svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/pencil.svg"></svg-icon>
        </a>
        <a class="col-sm-1 text-center">
          <svg-icon class="l-svg-default l-svg-color-cancel" src="assets/img/svg/cancel.svg"></svg-icon>
        </a>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="l-title-medium">Família Silva</h2>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Sexo: <strong>Masculino</strong></p>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Requerente: <strong>Sim</strong></p>
        </div>
        <a class="col-sm-1 text-center">
          <svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/pencil.svg"></svg-icon>
        </a>
        <a class="col-sm-1 text-center">
          <svg-icon class="l-svg-default l-svg-color-cancel" src="assets/img/svg/cancel.svg"></svg-icon>
        </a>
      </div>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-sm-7">
    <a class="btn btn-primary mb-4" data-toggle="modal" data-target="#modalFamilie" routerLink="/modal-add-family-member">
      <div class="l-btn-icon">
      <svg-icon class="l-svg-small l-svg-color-white" src="assets/img/svg/download.svg"></svg-icon>
    </div>
    <div class="l-btn-text">
      Baixar Árvore Genealógica 
    </div>
    </a>
  </div>
</div>
