<div class="l-header title">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="l-title-header">Membros</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Famílias</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a routerLink="/family-member-list">Membros</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="l-header info">
  <div class="row">
    <div class="offset-sm-2 col-sm-10 offset-lg-1 col-lg-6 offset-xl-2 col-xl-6">
      <div class="l-search">
        <form class="form-inline">
          <div class="form-group mb-2">
            <input type="password" class="form-control" id="search-list" placeholder="Buscar">
          </div>
          <a class="l-btn-search"><svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/search.svg"></svg-icon></a>
        </form>
      </div>
    </div>
    <div class="offset-sm-5 col-sm-7 offset-lg-0 col-lg-5 col-xl-4">
      <div class="l-add">
        <a class="btn btn-primary" data-toggle="modal" (click)="openModal(modalMember)">
          <div class="l-btn-icon">
            <svg-icon class="l-svg-small l-svg-color-white" src="assets/img/svg/plus.svg"></svg-icon>
          </div>
          <div class="l-btn-text">
            Adicionar Membro
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #modalMember>
  <app-modal-add-family-member  (people)="updatePeople($event)" (close)="closeModal($event)" [familyId]="id"></app-modal-add-family-member>
</ng-template>

<div class="l-components">
  <div *ngIf="isLoader" class="position-center">
    <div  class="spinner-border large text-dark" role="status"></div>
  </div>

  <p class="l-title">Lista de Membros Cadastradas</p>
  <ul class="list-group list-group-flush l-list-content">
    <li *ngFor="let person of people" class="list-group-item">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="l-title-medium">{{ person.firstName }}</h2>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Sexo: 
            <strong *ngIf="person.gender.toUpperCase() === 'M'">Masculino</strong>
            <strong *ngIf="person.gender.toUpperCase() === 'F'">Feminino</strong>
          </p>
        </div>
        <div class="col-sm-3">
          <p class="l-title-small">Requerente: 
            <strong *ngIf="!person.applicant">Não</strong>
            <strong *ngIf="person.applicant">Sim</strong></p>
        </div>
        <a class="col-sm-1 text-center">
          <svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/pencil.svg"></svg-icon>
        </a>
        <a (click)="deleteModal(modalDelete)" class="col-sm-1 text-center">
          <svg-icon class="l-svg-medium l-svg-color-cancel" src="assets/img/svg/close.svg"></svg-icon>
        </a>
      </div>

      <ng-template #modalDelete>
        <app-modal-alert (close)="closeModal($event)" (delete)="deletePerson($event)" [person]="person" [id]="person.id"></app-modal-alert>
      </ng-template>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-7">
    <a class="btn btn-primary mb-4" data-toggle="modal" data-target="#modalFamilie" routerLink="/modal-add-family-member">
      <div class="l-btn-icon">
      <svg-icon class="l-svg-small l-svg-color-white" src="assets/img/svg/download.svg"></svg-icon>
    </div>
    <div class="l-btn-text">
      Baixar Árvore Genealógica 
    </div>
    </a>
  </div>
</div>
