<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        Certidão de Nascimento
      </div>
      <div class="col-sm-1">
        ok
      </div>
      <div class="col-sm-2 offset-md-6">
        <button type="button" class="btn btn-info">Anexar</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
      Certidão de Casamento
      </div>
      <div class="col-sm-1">
        ok
      </div>
      <div class="col-sm-2 offset-md-6">
        <button type="button" class="btn btn-info">Anexar</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
      Certidão de Óbito
      </div>
      <div class="col-sm-1">
        ok
      </div>
      <div class="col-sm-2 offset-md-6">
        <button type="button" class="btn btn-info">Anexar</button>
      </div>
    </div>
  </li>
</ul>