<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        Certidão de Nascimento
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 offset-md-5 text-center">
        <button type="button" class="btn btn-info">
          <svg-icon class="l-svg-small l-btn-icon l-svg-color-default" src="assets/img/svg/paperclip.svg"></svg-icon>
          Anexar
        </button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
      Certidão de Casamento
      </div>
      <div class="col-sm-1">
        <svg-icon class="l-svg-default l-btn-icon l-svg-color-success" src="assets/img/svg/ok.svg"></svg-icon>
      </div>
      <div class="col-sm-3 offset-md-5 text-center">
        <svg-icon class="l-svg-default l-svg-color-cancel" src="assets/img/svg/cancel.svg"></svg-icon>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
      Certidão de Óbito
      </div>
      <div class="col-sm-1">
        <svg-icon class="l-svg-default l-btn-icon l-svg-color-success" src="assets/img/svg/ok.svg"></svg-icon>
      </div>
      <div class="col-sm-3 offset-md-5 text-center">
        <svg-icon class="l-svg-default l-svg-color-cancel" src="assets/img/svg/cancel.svg"></svg-icon>
      </div>
    </div>
  </li>
</ul>