<div class="l-form-items">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group theme">
        <input type="text" class="form-control" id="local-casamento" placeholder="Local Casamento">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group theme">
        <input type="email" class="form-control" id="data-casamento" placeholder="Data Casamento">
      </div>
    </div>
  </div>
</div>
<div class="l-form-items">
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group theme">
        <input type="text" class="form-control" id="local-obito" placeholder="Local Óbito">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group theme">
        <input type="text" class="form-control" id="data-obito" placeholder="Data Óbito">
      </div>
    </div>
  </div>
</div>
<div class="l-form-items">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <textarea class="form-control text-area" id="observation" rows="3" placeholder="Observações"></textarea>
      </div>
    </div>
  </div>
</div>