<div class="l-header">
  <div class="row">
    <div class="col-sm-4">
      <h1 class="l-title-header">Famílias</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Famílias</a></li>
          <li class="breadcrumb-item active" aria-current="page">Membros</li>
        </ol>
      </nav>
    </div>
    <div class="col-sm-8">
      <div class="l-add">
        <button class="btn btn-primary" data-toggle="modal" data-target="#modalFamilie">+ Adicionar Família</button>
      </div>

      <div class="l-search">
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Buscar">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>