<div class="matarazzo-theme">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 p-0">
        <div class="l-main">
          <app-nav></app-nav>
        </div>
      </div>
  
      <div class="col-sm-9 p-0">
        <div class="l-main">
          <div class="l-content">
            <app-header></app-header>

            <router-outlet></router-outlet>
            
            <app-pagination></app-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
