<div class="l-nav">
  <div class="l-nav-logo">
    <img class="l-img-logo" src="assets/img/png/logo.png" alt="matarazzo">
  </div>
  <div class="l-nav-item l-title">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Famílias</a>
      <!-- <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a> -->
    </div>
  </div>
  <div class="l-nav-item-config">
    <div class="l-login">
      <div class="l-title login">Luiz matarazzo</div>
      <a class="l-btn-logout">Log Out</a>
    </div>
    <div class="l-login">
      <a class="l-title l-btn-config">Configuracões</a>
    </div>
  </div>
</div>