body{
  background-color: $color-gray-medium;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: $color-gray;

  &:hover{
    color: $color-black;
  }
}

label{
  color: $color-gray;
}

.container{
  &-default{
    position: relative;
    float: left;
  }

  &-absolute{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-default{
  border: none;
  padding: 11px 20px;
  border-radius: 16px;
}

.matarazzo-theme{
  .l{

    &-login-container{
      position: relative;
      width: 100%;

      .btn-primary{
        margin-top: 40px;
        width: 120px;
      }

      &-item{
        position: absolute;
        padding: 50px 100px;
        background-color: #ffffff;
        top: 50px;
        height: 600px;
        left: 50%;
        width: 450px;
        transform: translate(-50%, 0);
        border-radius: 15px;
      }

      &-info{
        margin: 80px 0;
      }
    }

    &-password{
      &-lost{
        margin-top: 10px;
        color: $color-gray;
        text-align: right;
      }
    }

    &-register{
      margin-top: 20px;
      color: $color-gray;
    }

    &-main{
      position: relative;
      height: 700px;
    }

    &-header{
      &.title{
        @extend .container-default;
        width: 30%;
        margin-bottom: 40px;
      }

      &.info{
        @extend .container-default;
        width: 70%;
        margin-bottom: 40px;
      }

      &-item{
        @extend .container-default;
      }
    }

    &-title{
      font-size: 13px;

      &.login{
        font-weight: 700;
      }

      &-small{
        font-size: 12px;
      }

      &-medium{
        font-weight: 600;
        font-size: 13px;
      }

      &-header{
        position: relative;
        float: left;
        font-size: 18px;
        font-weight: 700;
      }
    }

    &-img-logo{
      width: 150px;
    }

    &-svg{
      &-small{
        svg{
          width: 12px;
        }
      }

      &-large{
        svg{
          width: 25px;
        }
      }

      &-default{
        svg{
          width: 15px;
        }
      }

      &-color{
        &-cancel{
          svg{
            fill: $color-primary-light;
          }
        }

        &-default{
          svg{
            fill: $color-gray-dark;
          }
        }

        &-success{
          svg{
            fill: $color-success;
          }
        }

        &-white{
          svg{
            fill: $color-white;
          }
        }
      }


    }

    &-btn{
      &-logout{
        font-size: 11px;
        color: $color-gray;
      }

      &-config{
        font-size: 13px;
        color: $color-gray;
        font-weight: 600;
      }

      &-list{
        margin-top: -5px;
      }

      &-icon{
        display: inline-block;
        margin-right: 10px;
      }

      &-text{
        display: inline-block;
      }

      &-search{
        position: absolute;
        top: 8px;
        right: 28px;
        width: 32px;
        height: 23px;
        text-align: center;
      }
    }

    &-form{
      &-items{
        margin-bottom: 30px
      }
    }

    &-list{
      &-item{
        @extend .container-default; 
      }

      &-content{
        height: 400px;
        overflow: auto;
      }
    }

    &-add{
      position: relative;
      float: right;
    }

    &-search{
      position: relative;
      float: right;
      width: 100%;
    }

    &-components{
      @extend .container-default;
      width: 100%;
    }

    &-login{
      @extend .container-default;
      width: 100%;
      padding: 30px 0 30px 60px;

      &:first-child{
        border-bottom: 2px solid $color-gray-lightness;
      }
    }

    &-pagination-bottom{
      @extend .container-default;
      width: 100%;
    }

    &-nav{
      @extend .container-absolute;
      border-radius: 30px 0 0 30px;
      padding: 25px 0;
      background-color: $color-white;
    
      &-logo{
        @extend .container-default;
        width: 100%;
        text-align: center;
      }
  
      &-item{
        @extend .container-default;
        width: 100%;
        padding: 20px 0 20px 20px;
        margin: 30px 0;

        &-config{
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
    }

    &-footer{
      position: absolute;
      width: 98%;
      bottom: 0;
      left: 0;
    }

    &-content{
      @extend .container-absolute;
      border-radius: 0 30px 30px 0;
      padding: 45px;
      background-color: $color-gray-lightness;  
    }
  }

  @media only screen and (max-width: 960px) {
    .l-login {
      padding: 30px 0 30px 40px;
    }
  }
}





