.matarazzo-theme{
  .container{
    padding: 0 15px;
    min-height: 700px;
  }

  .form-control{
    border: none;
    border-radius: 16px;
    padding: 13px 20px;
    font-size: 12px;
    color: $color-gray-lightness;
  }

  .btn{
    &-primary{
      background-color: $color-primary;
      border: none;
      padding: 13px 20px;
      border-radius: 16px;
      font-size: 13px;
    }

    &-secondary{
      font-size: 12px;
      background-color: $color-gray-light;
      border: 1px solid $color-gray-medium;
      color: $color-gray-dark;
      font-weight: 600;
      border-radius: 20px;
      padding: 5px 27px;
    }
  }
  
  .list-group-item{
    background: none;
    padding: 20px;
  }
  
  .nav-pills{
    .nav-link{
      padding: 15px 15px 15px 61px;
      
      &.active{
        background-color: $color-gray-lightness;
        border-radius: 18px 0 0 18px;
        padding: 15px 15px 15px 61px;
        color: $color-gray;
      }
    }
  }
}


