<div class="l-header title">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="l-title-header">{{activatedRoute}}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" *ngIf="activatedRoute == 'Membros'"><a routerLink="/">Famílias</a></li>
          <li class="breadcrumb-item active" *ngIf="activatedRoute == 'Membros'" aria-current="page"><a routerLink="/family-member-list">Membros</a></li>
        </ol>
      </nav>
    </div>
  </div>
</div>