<div class="container family-tree-main">
  <div class="family-tree-row">
    <div class="family-tree-logo-container">
      <img class="family-tree-logo" src="assets/img/png/logo.png" alt="matarazzo">
    </div>
    <div class="family-tree-title-container">
      <div class="family-tree-title">
        <h1>Árvore Genealógica Família <strong>Bartolini</strong></h1>
      </div>
    </div>
  </div>
  <div class="family-tree-row center applicant">
    <div class="family-tree-container">
      <div class="family-tree">
        <div class="family-tree-img">
          <img class="img" src="assets/img/png/user.png" alt="matarazzo">
        </div>
      </div>
      <div class="family-tree">
        <h2 class="family-tree-name">Adriana Bartolini</h2>
        <span class="family-tree-item">(1992)</span>
      </div>
      <div class="join"></div>
    </div>

    <div class="family-tree-container">
      <div class="family-tree">
        <div class="family-tree-img">
          <img class="img" src="assets/img/png/user.png" alt="matarazzo">
        </div>
      </div>
      <div class="family-tree">
        <h2 class="family-tree-name">Gustavo Bartolini</h2>
        <span class="family-tree-item">(1982)</span>
      </div>
      <div class="join"></div>
    </div>
  </div>

  <div class="family-tree-row">
    <div class="family-tree-container-half center paternal">
      <div class="family-tree-container">
        <div class="family-tree">
          <div class="family-tree-img">
            <img class="img" src="assets/img/png/user.png" alt="matarazzo">
          </div>
        </div>
        <div class="family-tree">
          <h2 class="family-tree-name">Enrico Bartolini</h2>
          <span class="family-tree-item">(1954 - 2004)</span>
        </div>
        <div class="join"></div>
      </div>
    </div>
    <div class="family-tree-container-half center maternal">
      <div class="family-tree-container">
        <div class="family-tree">
          <div class="family-tree-img">
            <img class="img" src="assets/img/png/user.png" alt="matarazzo">
          </div>
        </div>
        <div class="family-tree">
          <h2 class="family-tree-name">Izilda Barrilli</h2>
          <span class="family-tree-item">(1958)</span>
        </div>
        <div class="join"></div>
      </div>
    </div>
  </div>

  <div class="family-tree-row">
    <div class="family-tree-container-half center paternal">
      <div class="family-tree-container">
        <div class="family-tree">
          <div class="family-tree-img">
            <img class="img" src="assets/img/png/user.png" alt="matarazzo">
          </div>
        </div>
        <div class="family-tree">
          <h2 class="family-tree-name">Enrico Bartolini</h2>
          <span class="family-tree-item">(1954 - 2004)</span>
        </div>
        <div class="join"></div>
      </div>
      <div class="family-tree-container">
        <div class="family-tree">
          <div class="family-tree-img">
            <img class="img" src="assets/img/png/user.png" alt="matarazzo">
          </div>
        </div>
        <div class="family-tree">
          <h2 class="family-tree-name">Enrico Bartolini</h2>
          <span class="family-tree-item">(1954 - 2004)</span>
        </div>
        <div class="join"></div>
      </div>
    </div>
    <div class="family-tree-container-half center maternal">
      <div class="family-tree-container">
        <div class="family-tree">
          <div class="family-tree-img">
            <img class="img" src="assets/img/png/user.png" alt="matarazzo">
          </div>
        </div>
        <div class="family-tree">
          <h2 class="family-tree-name">Izilda Barrilli</h2>
          <span class="family-tree-item">(1958)</span>
        </div>
        <div class="join"></div>
      </div>
      <div class="family-tree-container">
        <div class="family-tree">
          <div class="family-tree-img">
            <img class="img" src="assets/img/png/user.png" alt="matarazzo">
          </div>
        </div>
        <div class="family-tree">
          <h2 class="family-tree-name">Enrico Bartolini</h2>
          <span class="family-tree-item">(1954 - 2004)</span>
        </div>
        <div class="join"></div>
      </div>
    </div>
  </div>
</div>