<div class="l-nav">
  <div class="l-nav-logo">
    <img class="l-img-logo" src="assets/img/png/logo.png" alt="matarazzo">
  </div>
  <div class="l-nav-item l-title">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a routerLink="/" class="nav-link active" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <svg-icon class="l-svg-large l-svg-color-default l-btn-icon" src="assets/img/svg/add-contact.svg"></svg-icon>
        Famílias
      </a>
      <!-- <a class="nav-link" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a> -->
    </div>
  </div>
  <div class="l-nav-item-config">
    <div class="l-login">
      <div class="row">
        <div class="col-sm-1">
          <svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/user.svg"></svg-icon>
        </div>
        <div class="col-sm-10">
          <div class="l-title login">Luiz matarazzo</div>
          <a 
            class="l-btn-logout"
            (click)="logOutUser()">
            Log Out
          </a>
        </div>
      </div>
    </div>
    <div class="l-login">
      <div class="row">
        <div class="col-sm-1">
          <svg-icon class="l-svg-default l-svg-color-default" src="assets/img/svg/settings.svg"></svg-icon>
        </div>
        <div class="col-sm-10">
          <a class="l-title l-btn-config">Configuracões</a>
        </div>
      </div>
    </div>
  </div>
</div>