<div class="l-login-container-header">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img class="l-img-logo" src="assets/img/png/logo.png" alt="matarazzo">
    </div>
    </div>
</div>
<div class="l-login-container-info">
  <div class="row">
    <div class="col-sm-12 text-center">
      <form>
        <div class="form-group theme">
          <input type="email" class="form-control" id="email" placeholder="E-mail">
        </div>
        <div class="form-group theme">
          <input type="password" class="form-control" id="senha" placeholder="Senha">
        </div>
        <!-- <div class="l-password-lost">
          <a>Esqueci a senha</a>
        </div> -->
        <a 
          type="submit" 
          class="btn btn-primary"
          (click)="logToApp()">
          Login
        </a>
        <!-- <div class="l-register">
          <a routerLink="/register">Já é cadastrado? <strong>Crie sua conta</strong></a>
        </div> -->
      </form>
    </div>
  </div>
</div>
